*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
    color: #fff;
   
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: #000;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
#midbanner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/pic2.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
#midbanner2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/pic2.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
#midbanner3{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/pic2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;

}
 .copyright{
    width: 100%;
    text-align:center;
    padding: 10px 0;
    background:linear-gradient(90deg, rgba(23,83,168,1) 0%, rgba(93,200,254,1) 45%, rgba(90,146,203,1) 95%);
    font-family: 'Crafty Girls', cursive;
    font-weight: 300;
    border-color: bisque;
    border-radius: 10;
    color: #000;  
    margin-top: auto;
     
}
.copyright i{
    color: #000;
}
.container{
    padding: 46px 10%;
}

nav{
    width: 100vh;
    position:fixed;
    -webkit-transform: rotate(90deg)translateX(85%);
    -webkit-transform-origin: right top;
    right: 0;
    text-align: center;
    z-index: 1000;
    opacity: 60%;
}

#title h1 span{
   font-family: 'Love Ya Like A Sister', cursive; 
}
h1 span{
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    padding-left: 565px;
    background:none;
    letter-spacing: 17.5px;
    word-spacing: 7.5px;
}
 h1 img{
        position: fixed;
    }   
h1 span img{
        position: relative;  
}
#header p{
    font-family: 'Love Ya Like A Sister', cursive; 
    font-size: 40px;
}
#header p span{
    font-family: 'Love Ya Like A Sister', cursive; 
    font-size: 15px;
    padding-left: 37px;
}
nav ul{
    flex: 1;
    text-align: center;
    padding-right: 0px;
    background-color: #000;
    width: 100vh;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 18px;
}
nav ul li a{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    font-size: 25px;
    letter-spacing: 0.0em;
    padding: 5px 1px;
    padding-left: 15px;
    transition: 0.5s; 
    font-family: 'Just Me Again Down Here', cursive;
}
nav ul li a:hover
{
    letter-spacing: 0.1em;
    background: var(--clr);
    box-shadow: 0 0 95px var(--clr);
}
nav ul li a::before
{
   content: '';
   position: absolute;
   inset:  2px;
   background: #000;
}
nav ul li a span
{
    position: relative;
    z-index: 1;
}
nav ul li a 1
{
    position: absolute;
    inset: 0;
    display: block;
}
nav ul li a 1::before
{
content: '';
position: absolute;
top: -3.5px;
 left: 80%;
 width: 10px;
 height: 5px;
 border: 2px solid var(--clr);
 background: #000;
 transform: translateX(-50%);
 transition: 0.5s; 
}
nav ul li a:hover i::before
{
    width: 20px;
    left ; 20%;
}
nav ul li a 1::after
{
content: '';
position: absolute;
bottom: -3.5px;
 left: 80%;
 width: 10px;
 height: 5px;
 border: 2px solid var(--clr);
 background: #000;
 transform: translateX(-50%);
 transition: 1.5s;
}
nav ul li a:hover i::after
{
    width: 20px;
    left: 80%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px; 
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
    padding-left: 600px; 
    color: #e6e6fa;
}
.header-text p{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    padding-left: 650px;
    color: #e6e6fa;
}
#productionheader .prodheader-text p{
    padding-left: 400px;
    padding-top : 200px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 35px;
    text-align: center;
}
#about{
    padding: 5px 0;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2 p{
    font-family: 'Klee One', cursive;
}
.about-col-1 img{
    width: 80%;
    border-radius: 20px;
    opacity: 50%;
}
.about-col-2{
    flex-basis: 65%;
    font-family: 'Klee One', cursive;
}
.sub-title{
    font-size: 40px;
    font-weight: 600px;
    font-family: 'Love Ya Like A Sister', cursive;  
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-family: 'Love Ya Like A Sister', cursive;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(6,255,50,1) 35%, rgba(16,42,255,1) 100%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 90%;  
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}

.tab-contents ul li span{
    color: #7EE5FE;
    font-size: 14px;
    text-decoration-line: underline;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.reveal2{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;

}
.reveal2.active{
    transform: translateY(0px);
    opacity: 1;
}

.reveal{
    position: relative;
    transform: translateY(0px);
    opacity: 0;
    transition: all 3s ease;

}
.reveal.active{
    transform: translateY(50px);
    opacity: 1;
}
#services{
    padding-top : 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)));
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.services-list{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: center;
}
.services-list div{
    background:  linear-gradient(90deg, rgba(71,71,83,1) 0%, rgba(85,93,82,1) 35%, rgba(91,59,65,1) 100%);
    padding: 40px;
    font-size: 13px;
    font-family: 'Klee One', cursive;
    font-weight:  300;
    border-radius: 100px;
    transition: background 1.2s, transform 1.2s;
    width: 400;
}
.services-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
.services-list div a{
    text-decoration: none;
    color: #000;
    font-size: 10px;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Klee One', cursive;
}
.services-list div:hover{
    background: radial-gradient(circle, rgba(69,201,250,1) 10%, rgba(45,69,159,1) 100%);
    color: #000;
    transform: translateY(-20px);
}
#contact .container{
    background-color: black;
}
.contact-left{
    flex-basis: 35%; 
    padding-top: 100px;
}
.contact-right{
    flex-basis: 60%;
    padding-top: 100px;
}
.contact-left p{
    margin-top: 30px;
    font-family: 'Love Ya Like A Sister', cursive;
}
.contact-left p i{
    color: #7EE5FE;
    margin-right: 15px;
    font-size: 25px;
}
.contact-left h1 span{
    font-family: 'Love Ya Like A Sister', cursive;
    padding-left: 10px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 1s;
}
.social-icons a:hover{
    color: #06f7ff;
    transform: translateY(-10px);
}
.titlesocial-icons a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 100px;
    margin-right: 5px;
    color: #ababab;
    display:grid;
    transition: transform 1s;
}
.titlesocial-icons a:hover{
    color: #7EE5FE;
    transform: translateY(-10px);
}
.btn{
    display: block;
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #000;
    color: #000;
    padding: 14px 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
}
.btn:hover{
    background: linear-gradient(90deg, rgba(86,250,255,1) 20%, rgba(11,42,87,1) 72%, rgba(46,114,184,1) 96%);
    color: #fff;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background:linear-gradient(90deg, rgba(86,250,255,1) 0%, rgba(11,42,87,1) 8%, rgba(46,114,184,1) 96%);
    color: #fff;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    font-family: 'Love Ya Like A Sister', cursive;
    border-radius: 8px;
}
.contact-left h1{
    font-size: 50px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.tab-contents ul a{
    display: inline-block;
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 50px auto;
    width: fit-content;
    color: #000;
    font-size: 10px;
    font-weight: 800;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
    text-align: center;
    margin-top: 30px;
}
.tab-contents ul a:hover{
    background: linear-gradient(90deg, rgba(23,83,168,1) 0%, rgba(90,146,203,1) 50%, rgba(93,200,254,1) 100%);
    color: #000;
    transform: translateY(-5px);
}
.tab-contents ul a{
    display: inline-block;
    background: linear-gradient(90deg, rgba(23,83,168,1) 0%, rgba(90,146,203,1) 50%, rgba(93,200,254,1) 100%);
    color: #000;
}

::-webkit-scrollbar{
    background: #000;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(23,83,168,1) 0%, rgba(90,146,203,1) 50%, rgba(93,200,254,1) 100%);
    border-radius: 10px;
}
.bubbles{
    position: relative;
    display: flex;  
}
.bubbles span{
    position: relative;
    width: 5px;
    height:5px;
    background: #E88AAD;
    margin: 0 4px;
    border-radius: 50px;
    box-shadow: 0 0.3 0 10px #EFC1CA,
    0 0 50px #E88AAD,
    0 0 100px #5555FE;
    animation: animate 15s linear infinite;
    animation-duration: calc(225s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #7EE5FE;
    box-shadow: 0 0 0 10px #C2E5F2,
    0 0 50px #7EE5FE,
    0 0 100px #7EE5FE;
}
.bubbles span{
    position: relative;
    width: 5px;
    height: 5px;
    background: #5555FE;
    margin: 0 4px;
    border-radius: 50px;
    box-shadow: 0 0.3 0 10px #58FA79,
    0 0 50px #5555FE,
    0 0 100px #5555FE;
    animation: animate 15s linear infinite;
    animation-duration: calc(225s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #7EE5FE;
    box-shadow: 0 0 0 10px #C2E5F2;
    0 0 50px #58FA79,
    0 0 100px #58FA79;
}
.bubbles span{
    position: relative;
    width: 5px;
    height: 5px;
    background: #F9F947;
    margin: 0 4px;
    border-radius: 50px;
    box-shadow: 0 0.3 0 10px  #FAFA9C,
    0 0 50px #F9F947,
    0 0 100px #F9F947;
    animation: animate 15s linear infinite;
    animation-duration: calc(445s / var(--i));
}
}
.bubbles span:nth-child(even)
{
    background: #F9F947;
    box-shadow: 0 0 0 10px #FAFA9C,
    0 0 50px #F9F947,
    0 0 100px #F9F947;
}
}
.bubbles span:nth-child(even)
{
    background: #5555FE;
    box-shadow: 0 0 0 10px #A3A3FE,
    0 0 50px #5555FE,
    0 0 100px #5555FE;
}
@keyframes animate
{

    0%{
        transform: translateY(100vh) scale(0);
}

    100%{    
        transform: translateY(-10vh) scale(1);

}


.container{
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(6,255,50,1) 35%, rgba(16,42,255,1) 80%);
}
.container .heading{
    font-size: 3rem;
    padding; 1rem 0;
    text-align: center;
    font-family: fantasy;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;
}
.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container .music-container .box{
    height: 16rem;
    width: 80%;
    display:flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(6,255,50,1) 35%, rgba(16,42,255,1) 100%);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #000;
}
.container .music-container .box .image{
    height: 100%;
    width: 25%;
}

.container .music-container .box img{
    height: 100%;
    width: 100%;
}
.container .heading{
    font-size: 3rem;
    padding; 2rem 0;
    text-align: center;
    font-family: fantasy;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;
}
.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container .music-container .box{
    height: 16rem;
    width: 80%;
    display:flex;
    align-items: center;
    background: #FF6347;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;
}
.container .music-container .box .image{
    height: 100%;
    width: 25%;
}
.container .music-container .box img{
    height: 100%;
    width: 100%;      
}
nav2{
    display: none;
}



    
    
    
    
    
    
    
    
    
    
    
    
    
    
@media only screen and (max-width: 600px){
#header{
    background-image: url(images/phonebgg.jpg);  
    }  
.header-text{
    margin-top: 100%;
    font-size: 6px; 
    
    }
.copyright{
     font-size: 15px;
    }
h1 span{
     font-size: 15px;
    }
.header-text h1{
    font-size:16px;
    }
     nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
         display: none;
        background: #B8FBC5;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }
    nav ul li{
        display:block;
        margin:25px;
    }
 
}    
    